/* Fonte fantasia */
body {
    font-family: 'Cinzel', serif;
    background: linear-gradient(to bottom, #003300, #006600);
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.container {
    text-align: center;
    max-width: 600px;
    padding: 20px;
    background: rgba(0, 0, 0, 0.5);
    border-radius: 15px;
    box-shadow: 0 0 20px #00ff66;
    transition: transform 0.3s ease;
}

h1 {
    font-family: 'Great Vibes', cursive;
    font-size: 2.5rem;
    color: #00ff66;
    margin-bottom: 20px;
    text-shadow: 0 0 10px #00ff66;
}

button.btn {
    padding: 12px 25px;
    margin: 10px;
    border: 2px solid #00ff66;
    border-radius: 12px;
    background-color: rgba(0, 0, 0, 0.7);
    color: #00ff66;
    font-size: 18px;
    cursor: pointer;
    transition: all 0.3s ease;
}

button.btn:hover {
    transform: scale(1.1);
    background-color: #00ff66;
    color: black;
}

.hidden {
    display: none;
}

#answer-buttons {
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-top: 15px;
}

#result-image {
    width: 200px;
    height: auto;
    margin-top: 15px;
    cursor: pointer;
    border: 3px solid #00ff66;
    border-radius: 10px;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

#result-image:hover {
    transform: scale(1.1) rotate(5deg);
    box-shadow: 0 0 15px #00ff66; }
